@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* Color */
    --main-color: #b88f4d;
    --second-color: #debb5f;
    --contrast-color: #55473a;
    --help-color: #deca88;
    --white-color: #e6e6e6;
    /* font-size */
    --regular-text: 24px;
    --small-text: 14px;
    --header-text: 40px;
    --main-text: 60px;
}


/* Контейнеры */

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    flex: 1 0 auto;
    max-width: 40%;
}


/* Контейнеры */

header {
    color: var(--white-color);
    background-color: var(--contrast-color);
    height: 120px;
}

footer {
    height: 783px;
    color: var(--white-color);
    background-color: var(--contrast-color);
}


/* Работа с оффером */

.offer {
    height: 684px;
    background: url(../images/header-back.png);
    background-size: cover;
}

.offer-content {
    height: 599px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.51);
    color: var(--white-color);
    flex-direction: column;
}


/* Работа с оффером */


/* Работа с каталогом */

.products {
    height: 756px;
    flex-direction: column;
    color: var(--main-color);
}

.cards {
    gap: 20px;
}

.card {
    width: 30%;
}

.swiper {
    width: 85%;
}

.fix-height {
    height: 60px;
}

/* Работа с каталогом */


/* Работа с блоком цифр */

.numbers {
    height: 317px;
    color: var(--white-color);
    background-color: var(--contrast-color);
}


/* Работа с блоком цифр */


/* Работа с блоком обратной связи */

.feedback {
    height: 836px;
    color: var(--contrast-color);
    gap: 40px;
}

.fieldset {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    border: 8px solid var(--contrast-color);
    gap: 10px;
    width: 400px;
}

.text {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--white-color);
    width: 100%;
}

.text::placeholder {
    color: var(--white-color);
}

.feedback-info {
    width: 500px;
}

.info-cards {
    flex-wrap: wrap;
}

.info-cards>figure {
    width: 45%;
}


/* Работа с блоком обратной связи */


/* Работа с подвалом */

.map {
    width: 60vw;
    height: 60vh;
}


/* Работа с подвалом */


/* Работа с текстом */

.small-text {
    font-size: var(--small-text);
}

.main-text {
    font-size: var(--main-text);
    font-weight: 900;
    text-align: center;
}

.regular-text {
    font-size: var(--regular-text);
}

.header-text {
    font-size: var(--header-text);
}

.center {
    text-align: center;
}


/* Работа с текстом */


/* Работа с изображениями */

.icon {
    margin: 15px;
}

.card-picture {
    width: 100%;
}


/* Работа с изображениями */


/* Работа с кнопками */

.btn {
    background-color: var(--contrast-color);
    color: var(--white-color);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-feedback {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Работа с кнопками */


.basket {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 48px;
}

.basket>img {
    width: inherit;    /*ширина такая же как у родителя */
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0 , 0.95);
    z-index: 100;
    /* Для невидимости */
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.content {
    width: 80vw;
    height: 80vh;
    background-color: white;
    position: relative;
}


.basket-div {
    max-height: 60vh;     /* меняем при адаптации */
    overflow-y: auto;     /* скрол для пролистывания экрана */
}